* {
    box-sizing: border-box;
    border-radius: 10px;
  }

  body {
    position: relative;
    font-family: Arial;
    padding: 20px;
    min-height: 100vh;
    overflow: auto;
    background-image: url("background.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

header{
    padding : 50px;
    text-align: center;
    background-color: #9e9a9a;
}

article{
    padding : 10px;
    background-color: #9e9a9a;
}

nav ul {
  list-style-type: none;
  margin: 0; 
  padding: 0; 
  display: flex; 
  justify-content: space-between;
 }
 
 nav ul li {
  flex: 1; 
  text-align: center; 
  border: 1px solid #9e9a9a; 
  padding: 10px; 

 }
 
 nav ul li a {
  text-decoration: none; 
  color: #ffffff; 
 }

 #img{
  margin: auto;
  text-align: center;
 }